body {
    padding: 60px 10px 40px;
}

#loginPanel {
    background-color: lightblue;
    padding: 15px;
    border-radius: 25px;
}

#loginPanel input {
    width: 90%;
}

.signUp {
    position: absolute;
    left: 30%;
    top: 15%;
    background-color: lightgray;
    padding: 8%;
    z-index: 100;
    border-radius: 25px;
    display: none;
}

#closelink {
    position: relative;
    right: 0;

}

#successMessage {
    position: absolute;
    left: 15%;
    top: 15%;
    background-color: lightgray;
    width: 50%;
    padding: 8%;
    z-index: 100;
    border-radius: 25px;
}

ul {
    list-style-type: none;
}

#posts li {
    margin-bottom: 4px;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: cornflowerblue;
}

#posts li:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

#posts li span {
    float: right;
}

#postDiv {
    background-color: lightskyblue;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}